<!DOCTYPE html>
<html>
  <head>
    <title>Everyleaf</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    <% if logged_in? %>
      <nav class="navbar navbar-expand-lg navbar-primary bg-danger">
        <div class="container-fluid">
          <%= link_to 'EveryLeaf', new_session_path,class: "navbar-brand text-white" %>
          <div class="d-flex">
             <%= link_to "Profile", user_path(current_user.id), class: "pe-4 text-white"%> 
              <%= link_to "Logout", session_path(current_user.id), method: :delete, class:"pe-4 text-white" %> 
              <%= link_to "Administration", admin_users_path, class:"text-white" %> 
          </div>
        </div>
      </nav>
      <%= render 'partials/foot' %>
    <% else%> 
    <nav class="navbar navbar-expand-lg navbar-primary bg-danger">
        <div class="container-fluid">
          <%= link_to 'EveryLeaf', new_session_path,class: "navbar-brand text-white" %>
            <div class="d-flex">
              <%= link_to "Sign up", new_user_path, class: "pe-4 text-white" %> 
              <%= link_to "Login", new_session_path, class:"text-white"  %> 
            </div>
        </div>
        </div>
      </nav>
      <%= render 'partials/foot' %>
     
    <% end%> 
    <%= yield %>
  </body>
</html>
